install --upgrade pip
absl-py==0.12.0
appdirs==1.4.4
applicationinsights==0.11.10
asgiref==3.3.4
astor==0.8.1
astroid==2.5.6
astunparse==1.6.3
attrs==20.3.0
autopep8==1.5.6
backcall==0.2.0
backports.csv==1.0.7
bleach==3.3.0
cached-property==1.5.2
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cli-helpers==0.2.3
Click==7.0
configobj==5.0.6
crcmod==1.7
decorator==5.0.7
distlib==0.3.1
Django==3.2
enum34==1.1.10
filelock==3.0.12
flake8==3.9.1
Flask==1.1.2
Flask-PyMongo==2.3.0
flatbuffers==1.12
future==0.18.2
gast==0.3.3
gevent==21.1.2
greenlet==1.0.0
astroid==2.5.6
astunparse==1.6.3
attrs==20.3.0
autopep8==1.5.6
backcall==0.2.0
backports.csv==1.0.7
bleach==3.3.0
cached-property==1.5.2
cachetools==4.2.1
certifi==2020.12.5
grpc-google-iam-v1==0.12.3
grpcio==1.32.0
h5py==2.10.0
httplib2==0.19.1
humanize==3.4.1
idna==2.10
importlib-metadata==4.0.1
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
jsonschema==3.2.0
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
mypy-extensions==0.4.3
numpy==1.19.5
oauth2client==4.1.3
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.9
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
pluggy==0.13.1
prompt-toolkit==3.0.18
proto-plus==1.18.1
protobuf==3.15.8
psycopg2==2.8.6
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pycurl==7.43.0.2
pydocstyle==6.0.0
pyflakes==2.2.0
Pygments==2.8.1
PyGObject==3.30.4
pylint==2.8.2
pyls-mypy==0.1.8
pymongo==3.11.3
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
requests-oauthlib==1.3.0
rope==0.19.0
rsa==4.7.2
scipy==1.6.3
six==1.15.0
snowballstemmer==2.1.0
sqlparse==0.4.1
tensorboard==2.5.0
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminaltables==3.1.0
tink==1.5.0
toml==0.10.2
traitlets==5.0.5
typed-ast==1.4.3
typing-extensions==3.7.4.3
typing-inspect==0.6.0
ujson==4.0.2
uritemplate==3.0.1
urllib3==1.26.4
virtualenv==20.4.4
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
yapf==0.31.0
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.4.0
gunicorn
