Keras==2.4.3
Werkzeug==1.0.1
zipp==3.4.1
importlib_metadata==3.10.1
typing_extensions==3.7.4.3
docutils==0.17
Cython==0.29.22
numpy==1.19.5
gevent==21.1.2
Flask==1.1.2
brotli==1.0.9
cryptography==3.4.7
keyring==23.0.1
lockfile==0.12.2
ordereddict==1.1
protobuf==3.15.8
pyOpenSSL==20.0.1
wincertstore==0.2
gunicorn
tensorflow
